/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/*                  TABLICA                  */
.content table {
	border-collapse: separate;
	border: 4px ridge green;
	margin: 10px 0;
}

/* NAGŁÓWEK */
.table table thead {
	background-image: linear-gradient(to left, lightblue, green, yellow);
}

/* TREŚĆ */
.table table tbody {
	text-transform: lowercase;
	background-color: yellow;
}

.table table tbody th:nth-child(1){
	background-color: lightblue;
	color: #333;
}

.table table tbody {
	background-color: green;
}

/* .table table tbody tr:nth-child(2) th:nth-child(2) {
	border: 10px dotted black;
	background-color: red;
} */

.table table tbody tr:nth-child(2){
	background-color: red;
}


/* STOPKA */
.table table tfoot {
	text-transform: capitalize;
	background-image: linear-gradient(to right, lightblue, green, yellow);
}

/*                  LISTA                  */
.list > ol {
	list-style-type: upper-roman;
	padding: 10px 35px;
}

.list > ol ol {
	list-style-type: lower-roman;
	padding: 0 40px;
}

.list > ol ol ol {
	list-style-type: lower-greek;
}

/*                  DEFINICJE                  */
.definitions dl {
	padding: 10px 0;
}

.definitions dd {
	padding-left: 40px;
}