* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    letter-spacing: 4px;
}

h2 {
    font-size: 10px;
    color: red;
}

h1.blue {
    color: blue;
}

h1.green {
    color: green;
}

h1.raspberry {
    color: hsl(327, 88%, 53%);
}

p {
    text-indent: 40px;
}
/* CONTENT */
.content h1 {
    font-size: 35px;
    padding: 10px 0;
}

.content h2 {
    font-size: 25px;
    padding: 8px 0;
}

.content p {
    padding: 5px 0;
}

